* {
    margin     : 0;
    box-sizing : border-box;
}

html {
    background-color : lightgrey;
}

#main {
    width            : 80%;
    margin           : 50px auto;
    background-color : #eef9f2;
    padding          : 10px;
    border-radius    : 10px;
    /*height           : 1000px;*/

    /*Flexbox*/
    /*----------------------------*/
    display          : flex;
    flex-flow        : row wrap;;
}

.block {
    background-color : #2169fa;
    color            : white;
    font-family      : 'Varela Round', sans-serif;
    font-size        : 20px;
    padding          : 10px;
    border-radius    : 3px;
    margin           : 5px;
}

.item-3 {
    order : -3;
}